# --- Dipendenze e Build (Cartelle pesanti) ---
node_modules/
frontend/node_modules/
dist/
dist-ssr/
backend/build/
frontend/src/abis/


# --- Smart Contract & ABIs (Generati automaticamente) ---
# Ignoriamo i risultati della compilazione e i file copiati nel frontend
backend/build/
frontend/src/abis/WineProduction.json


# --- Logs ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Variabili d'Ambiente (Sicurezza) ---
.env
.env.local
.env.*.local
*.local

# --- Editor e Sistema (Opzionali) ---
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- OS specific files ---
Thumbs.db